<%- include('../layout/header')%>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="well well-sm">
                    <legend class="text-center">Atualizar Publicação</legend>
                    <hr>
                    <form method="POST" action="/publicacoes/edit/<%= id %>">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="name">Título </label>
                                <div class="col-md-6">
                                    <input name="titulo" type="text" value="<%= titulo %>" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="name">Conteúdo: </label>
                                <div class="col-md-6">
                                    <textarea placeholder="Informe o conteúdo" name="conteudo" class="form-control"><%= conteudo %></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 ">
                                    <button type="submit" class="btn btn-primary ">Atualizar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layout/footer')%>