<%- include('../layout/header')%>

    <div class="container">

        <legend class="text-center">
            <i class="fas fa-list"></i> Lista de Publicações</legend>
        <hr>

        <a class="btn btn-success btn-sm" href="/publicacoes/create">
            <i class="fas fa-plus"></i> Nova publicação</a>
        <br>
        <br>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Conteúdo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% publicacoes.forEach(value => { %>
                    <tr>
                        <th scope="row">
                            <%= value.titulo %>
                        </th>
                        <th scope="row">
                            <%= value.conteudo %>
                        </th>
                        <td>
                            <a class="btn btn-secondary btn-sm" href="/publicacoes/destroy/<%= value.id%>">
                                <i class="fas fa-trash"></i>
                                Exluir
                            </a>
                            <a class="btn btn-secondary btn-sm" href="/publicacoes/edit/<%= value.id %>">
                                <i class="fas fa-pencil-alt"></i>
                                Editar
                            </a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <br>
    <%- include('../layout/footer')%>